.filterComponent {
    .heading {
        display: flex;
    }

    height: 100%;
    width: 100%;
    padding: 2%;

    p {
        margin: 5px;
    }

    hr {
        border: none;
        width: 80%;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }

    .yearFilters {}

    .LaunchFilters {
        .buttons {
            @media screen and (min-width: 700px) and (max-width: 1024px) {
                display: flex;
                justify-content: space-around;

                .btn {
                    padding: 2px, 5px;
                }

            }
        }
    }

    .LandingFilters {
        .buttons {
            @media screen and (min-width: 700px) and (max-width: 1024px) {
                display: flex;
                justify-content: space-around;

                .btn {
                    padding: 2px, 5px;
                }
            }
        }
    }

    .btn {
        background-color: rgb(89, 201, 89);
        color: white;
        border: none;
        padding: 2px 9px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: normal;
        margin: 4px 20px;
        cursor: pointer;
        border-radius: 4px;

        &.active {
            background-color: darkgreen;
        }
    }

    @media (max-width: 700px) {
        padding-left: 5%;
    }

}